<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Price Finder</title>
</head>

<body>
	<h1>Sneaker Price Finder</h1>
    <hr>

    <form action='/data' method='POST'>
        <div class="searchInputs">
            <input type="text" name="searchInput" placeholder="Find a Sneaker..." />
            <input type="submit" value="Find Prices">
            <input type="reset" value="Clear Search">
        </div>
    </form>

</body>

</html>