<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Price Finder</title>
</head>

<body>
	<h1>Sneaker Price Finder</h1>
    <hr>

    <a href="./buyer.ejs">Buyer Mode </a>
    <br>
    <a href="./seller.ejs">Seller Mode </a>
</body>

</html>