<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Price Finder</title>
</head>
<style> 
#site { 
    font-size: 14px;
    background-color: silver;
    padding: 0.5rem; 
    margin-top: 0.5rem; 
    margin-left: 20rem; 
    margin-right: 20rem;
    border: 1rem ridge brown; 
}

#info {  
    border: 0.7rem ridge cornsilk;
    background-color: #B1AEB3; 
    text-align: center;
}

h1 { 
    text-decoration: underline;
}
</style>

<body style="background-color: #3D3540">
    <div id="site">
        <div id="info">
            <h1>Sneaker Price Finder</h1>
            <hr>

            <a style="margin-right: 20%;font-size:2em;" href="./buyer.ejs">Buyer Mode </a>
            <a style="margin-left: 20%;font-size:2em;" href="./seller.ejs">Seller Mode </a>
        </div>
    </div>
</body>

</html>