<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Seller Mode</title>
</head>

<body style="background-color: #B1AEB3; color:black">
    <h1><a style="color:black;" href="./seller.ejs">Seller Mode</a></h1>
    <hr>
    <h3>Unfortunately, your product was not found with our search systems! <a href="./seller.ejs">Look for another
            product.</a></h3>
</body>

</html>